section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    div {
        .ubicacionContacto {
            text-align: center;
            margin-top: 60px;
        }

        iframe {
            width: 40vw;
        }
    }

    form {
        width: 30vw;

        div {
            .botonForm {
                background-color: black;
                color: white;
                width: 100%;
                padding: 10px;
                border-radius: 5px;

                &:hover {
                    background-color: rgb(45, 42, 42);
                }
            }

            .campoTexto {
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                padding: 10px;
                width: 100%;
            }

            textarea {
                height: 15vh;
            }

            .tituloForm {
                text-align: center;
            }



        }
    }
}